.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%; /* Каждая картинка занимает 100% ширины слайдера */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%; /* Адаптация под ширину окна */
    height: auto; /* Сохранение пропорций */
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Кнопки управления */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}
